{% extends 'base.html.twig' %}

{% block title %}Wild Series{% endblock %}
{# <img src="{{ asset('build/path_to_image.png') }}" alt=""/> #}
{% block body %}
<h1>{{ website }} index</h1>
{% endblock %}