{% extends 'base.html.twig' %}

{% block title %}{{ actor.name }}{% endblock %}

{% block body %}
    <h1>{{ actor.name }}</h1>

    <h2>Liste des séries associées à cet acteur :</h2>
    <ul>
        {% for program in actor.programs %}
            <li>{{ program.title }}</li>
        {% endfor %}
    </ul>
{% endblock %}
