<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" href="#">Connexion</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Séries</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Acteurs</a>
  </li>
  <li class="nav-item">
    {# <a class="nav-link disabled" href="#">Disabled</a> #}
  </li>
</ul>